@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "StudentAccountView";
}

@model SAM1.Models.StudentModel
@{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="/home/LogOut">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
<!DOCTYPE html>
<p>
</p>

<html>
<head>
    <title>StudentAccountView</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css.map">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/FontAwesome.otf">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2">

    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/exporting.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $.ajax({
                    url: 'Student/GetStudentAttendanceProgress?studentId=' + @Model.Id,
                    dataType: "json",
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    async: false,
                    processData: false,
                    cache: false,
                    delay: 15,
                    success: function (seriesData) {
                        var series = new Array();
                        for (var i = 0; i < seriesData.length; i++) {
                            var seriesItem = {
                                name: seriesData[i].SeriesTitle,
                                y: seriesData[i].SeriesValue
                            };
                            series.push(seriesItem);
                        }
                        DrawPieChart(series);
                    },
                    error: function (xhr) {
                        console.log(xhr);
                        alert('error');
                    }
                });
            });
            function DrawPieChart(series) {
                console.log(series);
                var chart = new Highcharts.Chart({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: 1,
                        plotShadow: false,
                        renderTo: "container"
                    },
                    title: {
                        text: 'Student Attendance Summary Per Week'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    exporting: {
                        buttons: {
                            contextButtons: {
                                enabled: false,
                                menuItems: null
                            }
                        },
                        enabled: false
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Task Status',
                        data: series
                    }]
                });
            }
        });
    </script>
</head>

<body>
    <h1>Student Details</h1>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th>CellPhone</th>
                </tr>
                <tr>
                    <td>@Model.Username</td>
                    <td>@Model.FirstName</td>
                    <td>@Model.LastName</td>
                    <td>@Model.Email</td>
                    <td>@Model.CellPhone</td>
                </tr>
            </table>
        </div>
    </div>
    <h1>Student History</h1>
    @*<p>
        <b>Registration Date: @Model.RegistrationDate</b>
    </p>

    <p>
        <b>Last Sign in Date: @Model.SigninDate</b>
    </p>
    <p>
        <b>Last Sign in Time: @Model.SigninTime</b>
    </p>*@
    <div id="container" style="min-width: 350px; height: 350px; max-width: 600px; margin: 0 auto"></div>
</body>
</html>
